.topnav {
display:flex;
font-family: 'Bebas Neue', cursive;
justify-content: space-between;
align-items: center;
margin:20px; 
}

nav ul {
   display:flex; 
   justify-content:space-between;
}

li + li{
    margin-left: 20px;
}

.topnav a {
    text-decoration: none;
    color:black;
}

.topnav li > a:hover {
color:hsl(197, 89%, 50%)}

h1{
 font-size: 40px;   
}