.topnav {
display:flex;
font-family: 'Bebas Neue', cursive;
justify-content: space-between;
align-items: center;
margin:20px; 
}

nav ul {
   display:flex; 
   justify-content:space-between;
}

nav li + li{
    margin-left: 20px;
}

.topnav a {
    text-decoration: none;
    color:black;
}

.topnav li > a:hover {
color:hsl(197, 89%, 50%)}

h1{
 font-size: 40px;   
}

h2{
    font-size: 25px;
    margin-bottom: 40px;
}

main {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}

@media (max-width:550px){
    main {
        flex-direction: column;
        margin: 10px;
    }
}

.left img{
    display:inline-block;
}

p {
    margin-bottom: 20px;
    text-align: center;
    margin-right: 50px;
    
}

article {
flex-basis: 50%; 
min-width: 50%; 
}


.left {
    flex-basis: 50%;
    min-width: 50%; 
}

article img {
    max-width: 100%;
    margin-top: 10px;
}

article p {
    
    font-size: 20px;
    text-align: center;
    border: 2.5px solid grey; 

}

h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.testimonials {
    font-family: 'Montserrat', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.testimonials img {
    border-radius: 50%;
    max-width: 150px;
}

.testimonials p {
    text-align: center;
    margin-top:10px;
}

h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.bottomnav {
font-family: 'Montserrat', sans-serif;
display: flex;
justify-content: space-between;
align-items:center;
margin-bottom: 20px;
margin-left: 10px;
}

.bottomnav li:first-child{
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 10px;
}

.bottomnav a {
    text-decoration: none;
    color:black;
}

.bottomnav li > a:hover {
color:hsl(197, 89%, 50%)}

.bottombutton {
display: flex;
flex-direction: column;
margin-right: 20px;
}

.bottombutton a {
    margin: 8px 0;
}

footer{
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

footer li {
    list-style-type: none;
}

footer div {
    display: flex;
    justify-content:center
}

footer ul {
    display:flex;
}
footer li + li {
    margin-left: 10px;
    
}

footer a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color:black;
}

footer a:hover{
    color:hsl(197, 89%, 50%)  
}

@media (max-width:550px){

}